.signInFields {
    height: 30px;
    border-radius: 10px;
    border:5px solid lightgrey;
    background-color: lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    outline:auto;
    outline-color:white;
    transition: .5s;
}

.loginError {
    background-color: crimson;
    margin-top: 5px;
    margin-bottom: 5px;
    color:white;
    transition: .5s;
    border-radius: 5px;
    font-weight: bold;
    max-width: 300px;
}

.errorText{
    padding: 5px;
}

/*Changes Focus Outline From Input Fields*/
.signInFields:focus{
    outline-color: var(--bc);
}