.logo{
    padding: 8px;
    height: 40px;
    width: 40px;
    position: absolute;
    justify-content: left;

}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

.navbar{
    height: var(--nav-size);
    background-color: var(--bc);
    padding: 0 1rem;
    border-bottom: var(--border)
}

.navbar-buttons{
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.navbar-links{
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}




/* Mobile Navbar */
.mobileNav {
    background-color: var(--bc);
    top:0;
    left:0;
    right:0;
    height: 30px;
    display: none;
    width:100vw;
}
.mobileNav .navbar-buttons{
    background-color: var(--bc);
    display: list-item;
    text-align: center;
}
.openMobileNav{
    background-color: var(--bc);
    height: 100vh;
    width: 96vw;
}

#hamburger{
    color: white;
    margin-right:8px;
    font-size: 35px;
    background-color: transparent;
    border: none;
    margin-top: 10px;
}
.mobileTopBar{
    background-color: var(--bc);
    height: 60px;   
}
i{
    color: white;
}
i:hover{
    cursor:pointer;
}
.mobileNavbarUl{
    list-style-type: none;
    display: flex;
    justify-content:space-between;
}
#mobileNavbarSearch{
    margin-left: 40%;
}

/* Responsive Navbar */
@media screen and (max-width: 600px){
    .navbar{
        display: none;
    }
    .mobileNav{
        display: contents;
    }
}
@media screen and (max-width: 400px){
    #mobileNavbarSearch{
        margin-left: 20%;
    }
}