.logo{
    padding: 8px;
    height: 40px;
    width: 40px;
    position: absolute;
    justify-content: left;

}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

.navbar{
    height: var(--nav-size);
    background-color: var(--bc);
    padding: 0 1rem;
    border-bottom: var(--border)
}

.navbar-buttons{
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.navbar-links{
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}