.modal-backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.modal-content-wrapper {
    position: fixed;
    width: fit-content;
    height: fit-content;
    background: white;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px 50px 50px 50px;
    border-radius: 20px;
    ;
    text-align: center;
}

.holdingsModal {
    width: 85vw;
    height: 50vh;
}

.order{
    height: 45vh;
    width: 25vw;
}


@media screen and (max-width: 1500px) {
    .order {
        width: 55vw;
        height: 55vh;
    }
}

@media screen and (max-width: 1000px) {
    .order {
        width: 40vw;
        height: 55vh;
    }
}

@media screen and (max-width: 680px) {
    .order {
        width: 50vw;
        height: 60vh;
    }
}