.button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button{
    /*width was previously 70px*. i personally would advise not to use pixels for these. 
    I had to make them larger to fit the dashboard text into them - mitchell*/
    width: 90px;
    height: 40px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--bc);
    background-color: white;
    font-weight: bold;
    border-radius: 15px;
}
