.icon-button{
    /*width was previously 70px*. i personally would advise not to use pixels for these. 
    I had to make them larger to fit the dashboard text into them - mitchell*/
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--bc);
    background-color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 15px;
    border: none;
    list-style-type: none;
}

.btn{
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: filter 300ms;
}

.btn:hover{
    filter: brightness(0.95)
}

.btn--primary--solid{
    background-color: white;
    color: var(--bc);
    border: none;
}
.btn--primary--outline{
    background-color: transparent;
    border: 2px solid white;
    color: var(--bc);
}

.btn--medium{
    padding: 10px 20px;
    font-size: 11px;
}

.btn--small{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
}

.buttons{
    list-style-type: none;
}