.icon-button{
    /*width was previously 70px*. i personally would advise not to use pixels for these. 
    I had to make them larger to fit the dashboard text into them - mitchell*/
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--bc);
    background-color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 15px;
    border: none;
    list-style-type: none;
}

.btn{
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;    
}


.btn--primary--solid{
    background-color: white;
    color: var(--bc);
    border: none;
}
.btn--primary--outline{
    margin-top:15px;
    background-color: transparent;
    border: 3px solid var(--bc);
    color: var(--bc);
    transition: .5s;
}
.btn--primary--outline:hover{
    background-color: var(--bc);
    color:white;
}
.btn--login{
    margin-top:-3px;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
    border: 3px solid var(--bc);
    color: white;
    background-color: var(--bc);
}
.btn--login:hover{
    border: 3px solid white;
}
.btn--signup{
    margin-top:-3px;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
    border: 3px solid var(--bc);
    color: var(--bc);
    background-color: white;
}
.btn--signup:hover{
    background-color: var(--bc);
    color: white;
    border: 3px solid white;
}
.btn--medium{
    padding: 10px 20px;
    font-size: 11px;
}

.btn--small{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
}

.buttons{
    list-style-type: none;
}