.rectangle{
    border-radius: 15px;
    border: 10px soild black;
    margin: 10px;
    color: blue;
}
.graph{
    width: 55%;
    height: 65%;
    float:left;
}

.watchlist{
    float:right;
    width:  30%;
    height: 65%;
    margin: 10px
}