.settingsIcons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    width: fit-content;
}
.settingsIcons:hover{
    cursor: pointer;
}
.iconBlack{
    color: black;
    margin-left: 15px;
    margin-top: 25px;
}