#ticker{
    margin: 12px;
}
.stockPageTop{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    width: 87vw;
}
.buyStockBox{
    /* sizing */
    /* width: 86vw;
    margin-right: auto;
    margin-left: auto; */

    /* margin-bottom: 20px; */
    
    /* looks */
    /* border-radius: 10px;
    padding: 20px; */
    
    /* color */
    /* color: white;
    background-color: var(--bg-accent);
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.3); */
    
    /* flex display settings */
    /* display:flex;
    justify-content: space-between; 
    flex-direction: row;
    flex-wrap: wrap; */
}
.buyStockItem{
    /* margin-left: 10px;
    margin-right: 10px; */
    width: 250px;
}