#ticker{
    margin: 12px;
}
.stockPageTop{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    width: 87vw;
}

.addToWatchlistButton{
    color: var(--bc);
    margin-right: 5px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 0.5s;
    padding:5px;
    margin: 5px;
    border-radius: 10px;
}

.noExist{
    margin-bottom: 10vh;
    text-align: center;
    color: black;
}

.addToWatchlistButton:hover{
    color: white;
    background-color: var(--bc);
}

.buyStockBox{
    /* sizing */
    /* width: 86vw;
    margin-right: auto;
    margin-left: auto; */

    /* margin-bottom: 20px; */
    
    /* looks */
    /* border-radius: 10px;
    padding: 20px; */
    
    /* color */
    /* color: white;
    background-color: var(--bg-accent);
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.3); */
    
    /* flex display settings */
    /* display:flex;
    justify-content: space-between; 
    flex-direction: row;
    flex-wrap: wrap; */
}
.buyStockItem{
    /* margin-left: 10px;
    margin-right: 10px; */
    width: 250px;
}
.buyStockItem ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.orderSuccess{
    padding: 10px;
    background-color: #22cf36;
    border-radius: 10px;
    color: white;
}
.orderNotSuccess{
    padding: 10px;
    background-color: crimson;
    border-radius: 10px;
    color: white;
}