.addToWatchlistButton{
    color: var(--bc);
    margin-right: 5px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 0.5s;
    padding:5px;
    margin: 5px;
    border-radius: 10px;
}

.stockPageContent{
    margin-top: 15px;
}

.stockPageTop{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.3);
    height: 10vh;
    align-content: center;
}

.stockPageHeading{
    display: flex;
    align-items: center;
}

.noExist{
    margin-bottom: 10vh;
    text-align: center;
    color: black;
}

.dumbButton{
    margin-top: -10px;
}

.addToWatchlistButton:hover{
    color: white;
    background-color: var(--bc);
}
.orderSuccess{
    padding: 10px;
    background-color: #22cf36;
    border-radius: 10px;
    color: white;
}
.orderNotSuccess{
    padding: 10px;
    background-color: crimson;
    border-radius: 10px;
    color: white;
}