.whatDoWeDo{
    /* justify-content: left; */
    float: left;
    font-size: 25px;
    width: 45vw;
    margin-top: -40px;
    background-color: white;
    box-shadow: 2px 2px 20px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 1px; 
    margin-bottom: 20px; 
    padding: 20px;
}
.whatDoWeDo h1{
    font-size:xx-large;
}
.aboutUs{
    padding: 0 20px 0 20px;
    /* max-width: 550px;
    min-width: 200px; */
    width: 35vw;
    /* justify-content: right; */
    margin-bottom: 20px; 
    border-radius: 10px;
    background-color: var(--bg-accent);
    color: white;
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.3);
    font-size: large;
}
divC1{
    padding: 5px;
    height: 330px;
    width: 500px;
    justify-content: left;
    position: relative;
    float: left;
    flex-wrap: wrap;
    border:black;
    border-style: dashed;
    margin: 10px;
}
divC2{
    padding: 5px;
    height: 330px;
    width: 500px;
    justify-content: left;
    position: relative;
    float: left;
    flex-wrap: wrap;
    border:black;
    border-style: dashed;
    margin: 10px;
}
divC3{
    padding: 5px;
    height: 330px;
    width: 500px;
    justify-content: left;
    position: relative;
    float: left;
    flex-wrap: wrap;
    border:black;
    border-style: dashed;
    margin: 10px;
}
divB{
    padding: 8px;
    height: 70px;
    width: 800px;
    justify-content: space-between;
    float: left;
    bottom: 0;
    left: 0;
    display: flex;
    padding-top: 200px;
}
divH{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
}
.firstDiv{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

.welcomeImage{
    resize: both;
    max-width: 20vw;
    min-width: 150px;
    border-radius: 10px;
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 1200px){
    .aboutUs{
        width: 90vw;
    }
    .whatDoWeDo{
        width: 90vw;
    }
    .welcomeImage{
        max-width: 28vw;
    }
}
@media screen and (max-width: 680px){
    .whatDoWeDo{
        width: 90vw;
    }
    .welcomeImage{
        max-width: 90vw;
    }
    .aboutUs{
        width: 90vw;
    }
}
