.orders-container{
    /* sizing */
    min-height: 20vh;

    /* margins */
    margin-top: 10px;    
    margin-bottom: 20px;
     
    /* looks */
    border-radius: 10px;
    padding: 20px;
    /* color */
    color: white;
    background-color: var(--bg);
    /* should this be var(--bg) */
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.3);

    text-align: center;
}
.ordersHeading{
    margin-top: 0px;
    padding-left: 10px;
}

.ordersItem{
    padding: 10px;
    border-radius: 10px;
}
.orders-container ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

.orders-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-columns: 150px 150px 150px 150px 150px 150px 150px; */
    place-items: center;
}


.pastOrdersGrid{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
    place-items: center;
}